# Android & Kotlin
*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
captures
.externalNativeBuild
.cxx

# IDE - IntelliJ / Android Studio
.idea/
*.iws
*.ipr
out/

# Apple / iOS
.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Build & Logs
build/
bin/
logs/
*.log

# Gradle
.gradle/
build/

# Node / JS (if used in future web targets)
node_modules/

# OS specific
Thumbs.db
desktop.ini
